@import "preline/variants.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/forms";

:root {
  --color-beige-heikoh: #FDF9E7;
  --color-blue-light-heikoh: #2E7AA2;
  --color-blue-dark-heikoh: #A4CEE5;
}
